<h1><%= @movie.name %></h1>
<% if @movie.photo.attached? %>
  <%= image_tag @movie.photo, :class => "poster" %>
<% else %>
  <img src="https://images-na.ssl-images-amazon.com/images/I/518ms9uDxuL._AC_SL1025_.jpg " width="200px" height="200px">
<% end %>
<p><%= @movie.director %></p>
<p><%= @nothinha %></p>
<p><%= @movie.date %></p>
<% @movie.genres.each do |genre| %>
  <p><%= link_to genre.name, genre_path(genre) %></p>
<% end %>

<%if Watchlist.where(movie_id: params[:id], user_id: current_user.id) == []%>
  <%= form_with model: @watchdoog, url: watchlist_path, method: :post do |overwatch| %>
    <%= overwatch.hidden_field :user_id, value: current_user.id %>
    <%= overwatch.hidden_field :movie_id, value: params[:id] %>
     <div class="actions">
       <%= overwatch.submit 'Adicionar aos assistidos' %>
     </div>
  <% end %>
  <% else %>
  <%= button_to 'Remover dos assistidos', watchlist_path(id: Watchlist.where(movie_id: params[:id], user_id: current_user.id).first.id), method: :delete %>
  <% end %>


<p><%= @movie.description %></p>
<iframe width="560" height="315" src=<%= @movie.trailer %> frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<% if @isso == [] %>
  <p><%= link_to 'Escreva sua review', nova_review_path(@movie.id) %></p>
<% end %>

<% @movie.reviews.each do |review| %>
  <% if review.review != '' %>
    <% @users.each do |user| %>
      <% if review.user_id == user.id %>
        <% if user.photo.attached? %>
          <p><%= image_tag user.photo, :class => "personal-avatar img-thumbnail", :atl => "Avatar"%></p>
        <% else %>
          <p><img class="personal-avatar", alt="Avatar" src="https://images-na.ssl-images-amazon.com/images/I/518ms9uDxuL._AC_SL1025_.jpg " width="200px" height="200px"></p>
        <% end %>
        <div>
          <%= user.username %>
          <br>
        </div>
      <% end %>
    <% end %>
    <div>
      <p>Nota do usuário: <%= review.score %></p>
    </div>
    <div>
      <br>
      <%= review.review %>
      <br>
    </div>
  <% end %>
  <% if review.user_id == current_user.id %>
    <div>
      <%= link_to 'Editar review', editar_review_path(review) %>
      <br>
    </div>
    <div>
      <%= button_to 'Apagar review', delete_review_path(review), method: :delete %>
      <br>
    </div>
  <% end %>
<% end %>