<div class="index-movies">

<h1 class="titulo"> Teste </h1>

  <% @movies.each do |filme| %>
    <h4><%= filme.name %></h4>
    <h6>Data de lançamento(Brasil):</h6><p><%= filme.date %></p>
    <h6>Nota:</h6><p><%= filme.score %></p>
    <h6>Dirigido por:</h6><p><%= filme.director %></p>
    <h6>Sinopse:</h6><p><%= filme.description %></p>
    <%= link_to 'Mostrar mais', movie_path(filme) %>
    <hr class="linha-divisao">
    <% end %>
    </div>
