<h1> Teste </h1>

<% @movies.each do |filme| %>
  <h4><%= filme.name %></h4>
  <h4>Data de lançamento(Brasil):</h4><p><%= filme.date %></p>
  <h4>Nota:</h4><p><%= filme.score %></p>
  <h4>Dirigido por:</h4><p><%= filme.director %></p>
  <h4>Sinopse:</h4><p><%= filme.description %></p>
<% end %>