<%= form_with model: @user, url: edit_user_path, method: :post, local: true do |user| %>
  <div class="row py-5 px-4">
    <div class="col-md-10 mx-auto">
      <!-- Profile widget -->
      <div class="bg-white shadow rounded overflow-hidden">
        <div class="px-4 pt-0 pb-4 cover">
          <div class="media align-items-end profile-head ">
            <div class="profile mr-3 " >
              <%if @current_user.photo.attached? %>
                <%= image_tag @current_user.photo, :class => "personal-avatar img-thumbnail", :atl => "Avatar"%>
              <% else %>
                <img class="personal-avatar ", alt="Avatar" src="https://images-na.ssl-images-amazon.com/images/I/518ms9uDxuL._AC_SL1025_.jpg " width="200px" height="200px">
              <% end %>
            </div>
            <%= user.file_field :photo, class:'form-control' %>
            <div class="media-body mb-5 text-white">
              <br><h4 class="mt-0 mb-0"><%= user.text_field :username, class:'form-control' %></h4><br>
            </div>
          </div>
        </div>

        <div class="px-4 py-3">
          <h5 class="mb-0">Biografia</h5>
          <div class="p-4 rounded shadow-sm bg-light">
            <p><%= user.text_area :biography, class:'form-control'%></p>
          </div>
        </div>
        <div class="px-4 py-3">
          <h5 class="mb-0">Email</h5>
          <div class="p-4 rounded shadow-sm bg-light">
            <p><%= user.text_field :email, class:'form-control'%></p>
          </div>
        </div>
        <div class="px-4 py-3">
          <h5 class="mb-0">Insira a senha para Confirmar Alterações</h5>
          <div class="p-4 rounded shadow-sm bg-light">
            <p><%= user.password_field :password, class:'form-control'%></p>
          </div>
        </div>
        <div class="form-control">
          <input class="btn btn-danger" type="submit" value="Editar">
        </div>
    <% end %>
      </div>
  </div>
</div>