<h1>Criar Conta</h1>

<%= form_for @user do |user| %>
  <% if @user.errors.any? %>
    <div class='error_messages'>
      <h2> Dados invalidos </h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
    <%= user.label 'Usuário:' %>
    <%= user.text_field :username %>
  </div>
  <div class="field">
    <%= user.label 'email:'%>
    <%= user.text_field :email %>
  </div>
  <div class="field">
    <%= user.label 'senha:' %>
    <%= user.password_field :password %>
  </div>
  <div class="field">
    <%= user.label 'confirme a senha:' %>
    <%= user.password_field :password_confirmation %>
  </div>
  <div class="actions"> <%= user.submit 'Criar' %> </div>
  <div>
    <%= link_to "Entrar", login_path %>
  </div>
<% end %>