<div class="tudo">
    <div class="row py-5 px-4">
      <div class="col-md-10 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
          <div class="px-4 pt-0 pb-4 cover">
            <div class="media align-items-end profile-head ">
              <div class="profile mr-3 " >
                <%if @current_user.photo.attached? %>
                  <%= image_tag @current_user.photo, :class => "personal-avatar img-thumbnail", :atl => "Avatar"%>
                <% else %>
                  <img class="personal-avatar ", alt="Avatar" src="https://images-na.ssl-images-amazon.com/images/I/518ms9uDxuL._AC_SL1025_.jpg " width="200px" height="200px">
                <% end %>
                </div>
              <div class="media-body mb-5 text-white">
                <br><h4 class="mt-0 mb-0"><%=current_user.username%></h4><br>
              </div>
            </div>
          </div>
          <div class="bg-light p-4 d-flex justify-content-end text-center">
            <ul class="list-inline mb-0">
              <a href="<%=edit_user_path %>" class="btn btn-outline-danger btn-sm btn-block">Editar perfil</a>
            </ul>
          </div>
          <div class="px-4 py-3">
            <h5 class="mb-0">Biografia:</h5>
            <div class="p-4 rounded shadow-sm bg-light">
              <p><%=current_user.biography %></p>
            </div>
            </div>
          <div class="py-4 px-4">
            <div class="d-flex align-items-center justify-content-between mb-3">
            <h5 class=" mb-0">Wacthlist:</h5>
            </div>
            <div class="p-4 rounded shadow-sm bg-light">
              <div class="bg-white shadow rounded overflow-hidden, px-4 py-3">
                <ol>
                  <% current_user.watchlists.each do |movie| %>
                    <li><h4><%=link_to movie.movie.name, movie_path(movie.movie) %></h4></li>
                  <% end %>
                </ol>
              </div>
            </div>
          </div>
          <div class="py-4 px-4">
            <div class="d-flex align-items-center justify-content-between mb-3">
              <h5 class="mb-0">Reviews:</h5>
            </div>
            <div class="p-4 rounded shadow-sm bg-light">
              <div class="row">
               <%@user.reviews.where.not(review: '').each do |review|%><br>
                <%= render 'reviews/show_review', other: review %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>