<h1>bio</h1>

<%= form_with model: @user, url: :update_perfil_user, method: :patch do |form| %>
  <div class="field">
    <%= form.label :biography %>
    <%= form.text_area :biography %>
  </div>
  <div class="actions">
    <%=form.submit 'enviar'%>
  </div>

  <div class="box">
    <p><%=current_user.biography%></p>
    </div>
<% end %>