<!DOCTYPE html>
<html>
<head>
  <title>Baroes da atrasadinha</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://kit.fontawesome.com/2acebabdeb.js" crossorigin="anonymous"></script>
</head>

  <body>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="<%= root_path %>">BAROES</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Gêneros
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex m-auto" method="get" action="/movies">
          <input name="search" class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
          <button class="btn search-button" type="submit"><i class="fas fa-search"></i></button>
        </form>
        <div class="user_nav">
          <% if current_user %>
            <%= link_to current_user.username, perfil_user_path %>
            <%= link_to 'Sair', logout_path %>
          <% else %>
            <%= link_to 'Criar conta', signup_path %>
            <%= link_to 'Entrar', login_path %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
    <div id ='container'>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
